<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>some one like you</key>
	<string></string>
	<key>skyfall</key>
	<string></string>
	<key>rooling in the deep</key>
	<string></string>
</dict>
</plist>
